html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
    }
}

img {
    max-width: 100%;
    height: auto;
}
